
body{
   font-size: 14px; 
background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'open_sansbold'; margin: 0;
}





.hovergallery img{
   
  
-webkit-transform:scale(0.6); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.6); /*Mozilla: масштабирование*/
-o-transform:scale(0.6); /*Opera: масштабирование*/
-webkit-transition-duration: 0.7s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.7s; /*Mozilla: длительность анимации*/
-o-transition-duration: 0.7s; /*Opera: длительность анимации*/

opacity: 1; /*Начальная прозрачность изображений*/


}

.hovergallery img:hover{
-webkit-transform:scale(1.2); /*Webkit: увеличиваем размер до 1.2x*/
-moz-transform:scale(1.2); /*Mozilla: масштабирование*/
-o-transform:scale(1.2); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
 
}





.wrapper-blue{
background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}

.ruler{border-top: 2px solid #178ce6;}
p{ font-family: 'open_sansregular'; font-size: 14px; line-height: 22px; color: #000000; padding-bottom: 25px; margin-bottom: 0;}
.last{padding-bottom: 0;}
.spacing-t{padding-top: 30px;}
.spacing-b{padding-bottom: 30px;}
.spacing-l{padding-left: 30px;}
.spacing-r{padding-right: 30px;}
.icon{color: #d80112; padding-bottom:15px; margin-right: 20px;}
.readmore{color: #178ce6; text-transform: uppercase; font-family: 'open_sansbold';}
.readmore:hover{color: #d80112; text-decoration: none;}

.site-header{overflow: hidden; padding: 60px 0; text-align: center;}
.logo{
    margin:0 auto;
    display: inline-block;
}
.logo h1{
    color:#fff;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 36px;
    margin: 0;
    padding-bottom: 30px;
}
.logo h1 span{
    font-family: 'open_sanslight';
    color:#178ce6;
}
.menu{text-align: center; }
.menu-bar{display: none;}
.navbar{ display: inline-block;}
.brd-top{
    border-top:1px solid #17284c;
    margin-top: 25px;
    margin-bottom: 30px;
}
.navbar{
    margin-top: 30px;
}
.navbar .nav > li a{
    text-shadow: none;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding:8px;
}
.navbar .nav > li a:hover{
    color:#178ce6;
}
.navbar .nav > .active > a{
    background-color: none;
    box-shadow: none;
    color:#fff;   
    font-weight: bold;
    text-transform: uppercase;
}
.navbar .nav > .active > a:hover{
    color:#178ce6;
    
    box-shadow: none;
}
.banner{
    
    color:#fff;
    text-align: center;

}
.banner .carousel{border: 15px solid #fff; border-radius: 5px;}

.banner .carousel-indicators{right: 50%; bottom: -10%;}
.banner .carousel-caption {background: none; bottom: 40%; padding: 0;}
.banner .carousel-caption  h1{
    text-transform: uppercase;
    background-color:#178ce6;
    margin:0; 
    font-size: 28px;
    line-height: 32px;
    display: inline-block;
    padding: 5px 10px;
    font-family: 'open_sansregular';
}
.banner .carousel-caption  h2{font-size: 28px; line-height: 32px; color: #fff;
                 text-transform: uppercase; 
                 background: #100a04; display: inline-block;
                  margin: 0; opacity: 0.8; padding: 5px 10px;}


    .featured-heading{background: #178ce6; padding: 55px 0; text-align: center;
                        text-transform: uppercase; margin-bottom: 90px;}
    .featured-heading h1{color: #fff; font-size: 22px; line-height: 40px;
                        font-family: 'open_sansbold';}
    .featured-objects{ padding: 100px 0; text-align: center;}
    .featured-objects .block{}

    
    .featured-block {border-radius:5px; background: #fff; overflow: hidden; margin-bottom: 30px; 
        -moz-box-shadow:   0px 0px 10px 1px #aaa;
  -webkit-box-shadow: 0px 0px 10px 1px #aaa;
  box-shadow: 0px 0px 10px 1px #aaa;}
    .featured-block img{display:block; margin:0 auto;}
    .featured-block .block-content{ padding: 30px; text-align: center;}
    .featured-block .block-content img{width: 100%;}
    .featured-block h1{font-size: 16px; color: #0c3f74; font-family: 'open_sansbold'; line-height: 24px;
                                            padding-bottom: 10px; text-transform: uppercase;}
    .featured-block p{padding-bottom: 20px;}
    .box{padding:0 20px; padding-top: 20px;}
    .featured-block .btn{background: #d80112; color: #fff; border-radius: 5px; 
                                        padding: 10px 15px; font-family: 'open_sansbold'; font-size: 14px; 
                                        font-weight: normal; text-transform: uppercase; text-shadow: none; letter-spacing: 1px;
                                           border:none; }
    .featured-block .btn:hover{color: #fff; background: #007ae2;}
    .featured-content{ background: #007ae2; text-align: center; padding-top: 100px; padding-bottom: 190px; overflow: hidden;}
    .featured-content h1{color: #fff; font-size: 22px; line-height: 40px; padding-bottom: 20px; text-transform: uppercase;}
    .featured-content p{color: #fff; padding-bottom: 50px;}
    .featured-content .block-content{ background: #259cf8; padding-top: 60px; border-radius: 5px;}
    .featured-image{margin-bottom: -140px;}
    .testimonial{padding: 95px 0; padding-bottom: 70px;}
    .testimonial .user-info{margin-bottom: 40px;}
    .testimonial h1{text-align: center; text-transform: uppercase; color: #178ce6; font-size: 22px; line-height: 40px;
                    font-family: 'open_sansbold'; padding-bottom: 60px;}
    .testimonial h1 span{color: #fff;}
    .user-content{background: #fff; border-radius: 5px; padding: 25px 30px 30px 20px; margin-bottom: 20px;}
    .user-image{}
    .user-image img{float: left; margin-right: 10px;}
    .user-image h5{padding-top: 15px;}
    .user-image h5 a{color: #178ce6; font-size: 12px; line-height: 20px; 
                    font-family: 'open_sansbold';  text-transform: uppercase;}
    .user-image h5 a:hover{color: #d80112; text-decoration: none;}                    
    .user-image h4{color: #7d7d7d; font-size: 14px; line-height: 20px; 
                    font-family: 'open_sanslight';}
    .caret-gray {
        text-align: center;
        margin-top: 30px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: top;
        border-top: 12px solid #fff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        content: "";
        position: absolute;
        }


    .copy-rights{background: #c1c1c1; color: #5b5b5b; padding: 60px 0; text-align: center; font-family: 'open_sansregular';}
    .copy-rights span{color:#0c3f74; font-size: 14px; font-family: 'open_sansbold'; text-transform: uppercase;}
    .copy-rights a{color: #5b5b5b;}
    .copy-rights a:hover{color: #fff; text-decoration: none;}
    .copy-rights .links{color: #d80112;font-family: 'open_sansbold'; text-transform: uppercase;}
    .copy-rights .links:hover{color: #178ce6;}

.navbar .btn-navbar {background: #178ce6; color: #fff; text-shadow: none; font-weight: bold; 
  margin-bottom: 3px; margin-right: 23px; border: none;}
.navbar .btn-navbar:hover{background: #d80112; color: #fff;}


